.block--center-align {
    text-align: center;
}

.list {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.list .shop {
    width: 240px;
    border: dotted #00000080 2px;
    margin-inline: 1rem;
    background-color: #2daaaa50;
    padding: 1rem .5rem;
}

.tagline {
    font-style: italic;
    font-weight: bold;
    width: 100%;
}

.links-box {
    display:flex;
    flex-flow: row nowrap;
    flex: 1;
    justify-content: space-between;
}

